<section class="cart-show">

  <header class="page-header">
    <% if cart_subtotal_cents > 0 %>
    <h1>My Cart</h1>
  </header>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Pice</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% enhanced_cart.each do |item| %>
        
          <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
          
        <% end %>
        


      </tbody>
      <tfoot>
      
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol cart_subtotal_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
   
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= cart_subtotal_cents %>"
          data-name="Jungle"
          data-description="Khurram Virani's Jungle Order"
          data-locale="auto"
          data-email="kvirani@gmail.com"
          data-currency="cad">
        </script>
      <% end %>
    </div>
     <% else %>
        <div class="alert" role="alert" style="background-color: #AA4342; color: white; height: 15vh; display: flex; justify-content: center; align-items: center; font-size: 150%">
          <span><strong>Your Cart is empty!</strong> Click <%= link_to 'here', :root %> to continue shopping.</span>
        </div>
        <% end %>
  </div>

</section>
